/* App.css */

.app-container { 
	text-align: center; 
	margin: 20px; 
	padding: 20px; 
	border: 1px solid #ccc; 
	border-radius: 5px; 
	background-color: #f8f8f8; 
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
} 

h1 { 
	font-size: 24px; 
	margin-bottom: 20px; 
} 

.data-container { 
	margin: 20px 0; 
} 

.data { 
	font-size: 16px; 
	background-color: #e0e0e0; 
	padding: 10px; 
	border-radius: 5px; 
} 

.loading { 
	font-size: 16px; 
	color: #777; 
	padding: 10px; 
} 

.fetch-button { 
	background-color: #007bff; 
	color: #fff; 
	padding: 10px 20px; 
	font-size: 16px; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
} 

.fetch-button:hover { 
	background-color: #0056b3; 
} 

.delete-button { 
	background-color: #dc3545; 
	color: #fff; 
	padding: 10px 20px; 
	font-size: 16px; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
	margin-top: 10px; 
} 

.delete-button:hover { 
	background-color: #c82333; 
}
